* {
    border: none;
    border-radius: 14px;
    min-height: 0;
    font-family: "0xProtoNerdFontPropo";
    font-weight: 500;
    font-size: 16px;
    padding: 0;
}

window#waybar {
    background: rgba(0,0,0,0);
}

tooltip {
    background-color: #24273a;
    color: #cad3f5
}

#gamemode {
    margin: 6px 6px 6px 6px;
    padding-left: 4px;
}

#clock,
#tray,
#hardware,
#memory,
#network,
#pulseaudio {
    margin: 6px 6px 6px 0px;
    padding: 2px 8px;
}

#workspaces {
    background-color: #24273a;
    margin: 6px 0px 6px 6px;
}

#workspaces button {
    all: initial;
    min-width: 0;
    padding: 2px 8px;
    color: #cad3f5;
    border-radius: 14px;
}

#workspaces button.active {
    color: #7dc4e4;
    background-color: #363a4f;
}

#workspaces button.urgent {
    background-color: #24273a;
    color: #ed8796;
}

#workspaces button:hover {
    opacity: 0.3;
}

#memory,
#network,
#hardware,
#pulseaudio,
#clock {
    background-color: #24273a;
    color: #7dc4e4;
}

#cpu.critical,
#temperature.critical,
#memory.critical {
    color: #db4740;
}

