* {
    border: none;
    border-radius: 14px;
    min-height: 0;
    font-family: "0xProtoNerdFontMono";
    font-weight: 500;
    font-size: 16px;
    padding: 0;
}

window#waybar {
    background: rgba(0,0,0,0);
}

tooltip {
    background-color: #1d2021;
}

#gamemode {
    margin: 6px 6px 6px 6px;
    padding-left: 4px;
}

#clock,
#tray,
#cpu,
#memory,
#battery,
#network,
#pulseaudio {
    margin: 6px 6px 6px 0px;
    padding: 2px 8px;
}

#workspaces {
    background-color: #24273a;
    margin: 6px 0px 6px 6px;
}

#workspaces button {
    all: initial;
    min-width: 0;
    padding: 2px 8px;
    color: #cad3f5;
    border-radius: 14px;
}

#workspaces button.active {
    background-color: #24273a;
    color: #7dc4e4;
}

#workspaces button.urgent {
    background-color: #24273a;
    color: #db4740;
}

#workspaces button:hover {
    opacity: 0.5;
}

#custom-power,
#cpu,
#memory,
#network,
#battery,
#gamemode,
#pulseaudio, 
#clock {
    background-color: #1e2030;
    color: #7dc4e4;
}

#cpu.critical,
#memory.critical {
    color: #db4740;
}

